body {
    background: linear-gradient(to bottom right, black, red);
    color:white;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	font-size: 14;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 16px;
}

.sword, .members, h3, button, p, h4 {
    margin-left: 20px;
}
.sword {
    color: gold;
}

.members {
    color: teal;
}

h3 {
    color: blue;
}

button {
    border-radius: 28px;
}

p {
    line-height: 0.4;
}

h4 {
    line-height: 0.5;
}
